<mat-toolbar color="primary">
  <span>{{ filter.monthName }} - {{ filter.year }}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-button (click)="openDialogReminder()">
      <i class="fa fa-plus"></i><span class="desktop">Add a new reminder</span>
    </button>
  </span>
  <span
    ><button mat-button (click)="changeMonth(-1)">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button mat-button (click)="changeMonth(1)">
      <i class="fa fa-arrow-right"></i></button
  ></span>
</mat-toolbar>

<div class="calendarContainer container" cdkDropListGroup>
  <div class="calendarHeader row desktop">
    <div *ngFor="let dayName of daysOfTheWeek()" class="col dayNameHeader">
      {{ dayName }}
    </div>
  </div>
  <div
    *ngFor="let week of days | CalendarFormat: filter.start:filter.end"
    class="calendarWeek row"
  >
    <div
      *ngFor="let day of week | keyvalue; let first = first; let last = last"
      [ngClass]="{
        gray: first || last,
        today: isToday(day.key),
        notInCurrentMonth: !inCurrentMonth(day.key)
      }"
      class="calendarDay col"
      (click)="openDialogReminder(day.key)"
    >
      <div class="day">
        {{ day.value.day }}
        <span class="mobile dayName">{{ getDayName(day.key) }}</span>
      </div>
      <div
        class="remindersContainer"
        cdkDropList
        (cdkDropListDropped)="dropped($event, day.key)"
        id="{{ day.key }}"
      >
        <div
          matTooltip="Delete all reminders for this date"
          class="deleteAll"
          *ngIf="day.value.reminders.length > 0"
          (click)="removeAllReminders(day.key)"
        >
          <i class="fa fa-window-close"></i>
        </div>
        <div
          cdkDrag
          (click)="
            openDialogReminder(day.key, reminder, i); $event.stopPropagation()
          "
          class="reminder"
          *ngFor="let reminder of day.value.reminders; let i = index"
          [style.backgroundColor]="reminder.color"
          [style.color]="isLigth(reminder.color) ? '#000000' : '#ffffff'"
        >
          <div>
            {{ reminder.date.format('hh:mm a') }}

            <div
              *ngIf="reminder.forecast"
              class="weather"
              matTooltip="{{ getInfoForecast(reminder.forecast) }}"
              [style.background-image]="
                cleanURL(
                  'https://openweathermap.org/img/w/' +
                    reminder.forecast.icon +
                    '.png'
                )
              "
            ></div>
          </div>
          <div>
            {{ reminder.reminder }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
