.mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  max-width: 300px;
}

#colorPicker {
  width: 20px;
  border-radius: 23px;
  height: 20px;
  border: none;
  float: left;
  margin: 5px 11px;
  cursor: pointer;
}
#datePicker {
  text-align: center;
  cursor: pointer;
}
#reminder {
  font: 500 18px/32px Roboto, 'Helvetica Neue', sans-serif;
  border: none;
  width: 100%;
}
#reminder:focus {
  outline: none;
}

.reminderContainer {
  display: flex;
  margin-bottom: 30px;
}
.reminderContainer > div {
  width: 100%;
}
