.calendarContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 30px;
}

.calendarContainer .calendarDay {
  height: 160px;
  padding: 0px;
  outline: 1px solid #afafaf;
  margin-top: 1px;
  margin-left: 1px;
  cursor: pointer;
}
.calendarContainer .calendarDay.gray {
  background: #e2e2e2;
}
.calendarContainer .calendarDay.gray .day {
  color: #562cff;
}
.calendarContainer .calendarDay .reminder,
.cdk-drag.reminder {
  padding: 10px;
  font-size: 11px;
  border-radius: 7px;
  text-transform: capitalize;
  margin: 2px 0;
  position: relative;
  cursor: grab;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  z-index: 20;
}
.cdk-drag-placeholder.reminder {
  opacity: 0.4;
}
.calendarContainer .calendarDay .reminder:hover {
  top: -5px;
  left: -5px;
  -webkit-box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.75);
}
.calendarContainer .weather {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 7px;
  top: 3px;
  background-repeat: no-repeat;
}
.calendarDay:hover {
  background: #e2e2e2;
}

.calendarContainer .dayNameHeader {
  text-align: center;
  background: #562cff;
  padding: 8px 15px;
  color: #ffffff;
  font-weight: bold;
}

.calendarDay.col:hover:before {
  content: 'Add Event';
  position: absolute;
  width: 100%;
  text-align: center;
  color: #888888;
  font-size: 11px;
  top: 4px;
}
.calendarContainer .calendarDay .day {
  font-weight: bold;
  padding: 3px 10px;
}
.calendarContainer .calendarDay .remindersContainer {
  /*overflow-y: auto;
  overflow-x: hidden;*/
  padding: 10px;
  height: 130px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
